.dub
docs.json
__dummy.html
docs/
/fish_game
fish_game.so
fish_game.dylib
fish_game.dll
fish_game.a
fish_game.lib
fish_game-test-*
*.exe
*.pdb
*.o
*.obj
*.lst

libraylib.so*
models/largemouth.blend1

screenshot*.png
models/boat.blend1
models/person.blend1
models/fishing_rod.blend1
models/deep-c-110.blend1
